doctype html
html(lang='en', dir='ltr', style='scroll-behavior: smooth')
  head
    meta(charset='utf-8')
    title #{post.title}
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description', content = post.body.substring(0,100).replace(/<h2>/g, "").replace(/<\/h2>/g, "").replace(/<br>/g, "").replace(/<p>/g, "")) 
    link(rel="stylesheet", href="/static/bootstrap.min.css")
    link(rel='stylesheet', href='/static/article/style.css', type='text/css')
    link(rel="stylesheet", href='/static/prism/prism.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js')
  body
    include nav.pug
    h1  
        span(class="month") 
            | #{months[post.date.getMonth()]} 
            | #{post.date.getDate()} 
            br
        | #{post.title}
    p !{post.body}
    
    div.bottom-like
      h3
        | Hit the like button to save this article.
        br
        span(class="month")
          | #{post.likes}
        if post.likes == 1
          | person liked this post.
        else
          | people liked this post.
      div.likebtn(post_id=post.id, post_title=post.title)
        i.fas.fa-heart#heart
      br
    div.bottom-comments
      h1 Comments
      if comments.length == 0
        h3
          | No comments; Be the first one to comment!
      include comment.pug
      each comment in comments
        div.comment
          h3
            | #{comment.name} 
          p
            span.month
              | #{months[new Date(comment.time).getMonth()]}
              | #{new Date(comment.time).getDate()}
              | #{new Date(comment.time).getFullYear()}
          p 
            | #{comment.body}

    #cursor
    script(type='text/javascript', src='/static/blog/blog.js')
    script(src='/static/prism/prism.js' defer)
    script(src='/static/article/article.js')
