doctype html
html(lang='en', dir='ltr', style='scroll-behavior: smooth')
  head
    meta(charset='utf-8')
    title rcbxd's blog
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description', content='rcbxd\s blog')
    link(rel='stylesheet', href='/static/article/style.css', type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.min.css', rel='stylesheet')
    link(href='/static/prism-atom-dark.css' rel='stylesheet')
  body
    div(id="nav")
      a(href="../../") rcbxd
      a(href="/archives") archives
      a(href="/archives") twitter
      a(href="../") home
    h1  
        span(class="month") 
            | #{months[post.date.getMonth()]} 
            | #{post.date.getDate()} 
            br
        | #{post.title}
    p !{post.body}
    #cursor
    script(type='text/javascript', src='/static/blog/blog.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js' defer)
    script. 
        window.addEventListener('load', ()=>{
            var entries = document.getElementsByTagName('h2');
            var entries = Array.from(entries);
            var id = 0;
            entries.forEach(e => {
                e.innerHTML = `<a href="#${id}">#</a>${e.innerHTML}`;
                e.id = id;
                id++;
            })
            var url = document.URL
            var hid = url.substring(url.lastIndexOf('#')+1);
            window.scrollTo(0,document.getElementById(hid).offsetTop)
        })
