doctype html
html(lang='en', dir='ltr', style='scroll-behavior: smooth')
  head
    meta(charset='utf-8')
    title #{post.title}
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description', content = post.body.substring(0,100).replace(/<h2>/g, "").replace(/<\/h2>/g, "").replace(/<br>/g, "").replace(/<p>/g, ""))
    link(rel='stylesheet', href='/static/article/style.css', type='text/css')
    link(rel="stylesheet", href='/static/prism/prism.css')
  body
    include nav.pug
    h1  
        span(class="month") 
            | #{months[post.date.getMonth()]} 
            | #{post.date.getDate()} 
            br
        | #{post.title}
    p !{post.body}
    #cursor
    script(type='text/javascript', src='/static/blog/blog.js')
    script(src='/static/prism/prism.js' defer)
    script(src='/static/article/article.js')
    script. 
        window.addEventListener('load', ()=>{
            var entries = document.getElementsByTagName('h2');
            var entries = Array.from(entries);
            var id = 0;
            entries.forEach(e => {
                e.innerHTML = `<a href="#${id}">#</a>${e.innerHTML}`;
                e.id = id;
                id++;
            })
            var url = document.URL
            var hid = url.substring(url.lastIndexOf('#')+1);
            window.scrollTo(0,document.getElementById(hid).offsetTop)
        })
