doctype html
html(lang='en', dir='ltr', style='scroll-behavior: smooth')
  head
    meta(charset='utf-8')
    title #{post.title}
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description', content = post.description) 
    link(rel="stylesheet", href='/bootstrap.min.css')
    link(rel='stylesheet', href='/article/style.css', type='text/css')
    link(rel="stylesheet", href='/prism/prism.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js')
  body
    include ../nav.pug
    h1  
        span(class="month") 
            | #{months[post.date.getMonth()]} 
            | #{post.date.getDate()} 
            br
        | #{post.title}
    .description
      h3 !{post.description}
    .body
      p !{post.body}
    
    div.bottom-like
      h3
        | Hit the like button to save this article.
        br
        span(class="month" id="like-count")
          | #{post.likes}
        if post.likes == 1
          | person liked this post.
        else
          | people liked this post.
        if !login_status
          h3 You Must Be Logged In to Leave A Like
      if login_status
        form(action=post.id+"/like" method="post" id="like_form")
          div.likebtn.like_button(post_id=post.id, post_title=post.title onclick="document.getElementById('like_form').submit()")
            i.fas.fa-heart#heart
      else
        div.likebtn(post_id=post.id, post_title=post.title)
          i.fas.fa-heart#heart
      br
    div.bottom-comments
      h1 Comments
      if comments.length == 0
        h3
          | No comments; Be the first one to comment!
      form(class="col-6" id="comment-form")
        div(class="form-group")
            label(for="name") Name
            input(type="name" class="form-control" id="form-name-field" name="name" placeholder="Your Name" required)
            small(id="emailHelp" class="form-text text-muted")
                | Comments with irrelevant names/content will be removed
        div(class="form-group")
            label(for="text") Text
            input(type="text" class="form-control" name="body" id="form-text-field" placeholder="Your Text" required)
            
        if !login_status
          button(type="submit" class="btn btn-secondary" disabled) Send
          small(id="emailHelp" class="form-text text-muted")
                | You need to be logged in to comment.
        else
          button(type="submit" class="btn btn-secondary") Send
      div.comments
        each comment in comments
          div.comm
            h3
              | @#{comment.name} &nbsp; &nbsp; 
              span.month
                | #{months[new Date(comment.time).getMonth()]}
                | #{new Date(comment.time).getDate()}
                | #{new Date(comment.time).getFullYear()}
            p 
              | #{comment.body}

    #cursor
    script(type='text/javascript', src='/blog/blog.js')
    script(src='/prism/prism.js' defer)
    script(src='/article/article.js')
    script.
      if("#{liked}")
        t1.reversed(!t1.reversed());
